{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles thumbnail %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<script src="{% static 'leaflet/mapbox.js' %}"></script>

{% endblock %}


{% block content %}

<div class="row main">
	<div class="columns large-12">
		<div class="row main">
			<div class="columns large-9">
				<h3>{{ toponym.name }}</h3>
                {% if toponym.source %}<h5><em>({{ toponym.source }})</em></h5>{% endif %}
					<table>
					 <tbody>
                    <!-- 
                      <tr>
                       <td><strong> </strong></td>
                       <td>{}</td>
                      </tr>                     
                    -->
                      <tr>
                       <td><strong>Name</strong></td>
                       <td>{{ toponym.name }}</td>
                       
                       <td id="map" width="40%;" rowspan="7"></td>                       
                      </tr> 
                      <tr>
                       <td><strong>Language</strong></td>
                       <td>{{ toponym.language }}</td>
                      </tr>      
                      <tr>
                       <td><strong>Feature type</strong></td>
                       <td>{{ toponym.object_fk }}</td>
                      </tr>      
                      <tr>
                       <td><strong>Etymological description</strong></td>
                       <td>{% if toponym.etymological_desc %}{{ toponym.etymological_desc }}{% else %}Not recorded {% endif %}</td>
                      </tr>                        
                      <tr>
                       <td><strong>English meaning</strong></td>
                       <td>{{ toponym.cognate }}</td>
                      </tr>    
                      <tr>
                       <td><strong>Variants</strong></td>
                       <td>{% if toponym.variants %} {{ toponym.variants }}{% else %}Not recorded{% endif %}</td>
                      </tr>
                      <tr>
                       <td><strong>Notes</strong></td>
                       <td>{% if toponym.notes %}{{ toponym.notes }}. {% endif %}{% if toponym.notes_2_m %}{{ toponym.notes_2_m }}{% endif %}</td>
                      </tr>    
                 
                                    
                     </tbody>
                    </table>
		<h3></h3>
		<table>
			<tbody>
				<tr>
					<td><strong>Briga</strong>
					</td>
					<td>{% if toponym.briga %}<i class="fa fa-check-circle"></i>{% else %}{% endif %}
					</td>
				</tr>
				<tr>
					<td><strong>Dunon</strong>
					</td>
					<td>{% if toponym.dunon %}<i class="fa fa-check-circle"></i>{% else %}{% endif %}
					</td>
				</tr>
				<tr>
					<td><strong>Duron</strong>
					</td>
					<td>{% if toponym.duron %}<i class="fa fa-check-circle"></i>{% else %}{% endif %}
					</td>
				</tr>
				<tr>
					<td><strong>Ebur</strong>
					</td>
					<td>{% if toponym.ebur %}<i class="fa fa-check-circle"></i>{% else %}{% endif %}
					</td>
				</tr>
				<tr>
					<td><strong>Magos</strong>
					</td>
					<td>{% if toponym.magos %}<i class="fa fa-check-circle"></i>{% else %}{% endif %}
					</td>
				</tr>
				<tr>
					<td><strong>Nemeton</strong>
					</td>
					<td>{% if toponym.nemeton %}<i class="fa fa-check-circle"></i>{% else %}{% endif %}
					</td>
				</tr>  
				<tr>
					<td><strong>Sego</strong>
					</td>
					<td>{% if toponym.sego_field %}<i class="fa fa-check-circle"></i>{% else %}{% endif %}
					</td>
				</tr>                  
				<tr>
					<td><strong>Novios</strong>
					</td>
					<td>{% if toponym.novios %}<i class="fa fa-check-circle"></i>{% else %}{% endif %}
					</td>
				</tr> 
			</tbody>
		</table>


		     {% if toponym.toponymimage_set.all %}
		     <h3>Images</h3>
		    <table>
			<tbody>
			   <tr>
                <tr colspan="{{ toponym.toponymimage_set.all.length }}">
            {% for i in toponym.toponymimage_set.all %}
                <td>{% thumbnail i.image "50x50" crop="center" as im %}
			<a href="#" data-reveal-id="image-{{ forloop.counter }}"><img src="{{ im.url }}" align="middle" width="{{ im.width }}" height="{{ im.height}}">
                {% endthumbnail %}<br><small> {{ i.description }}</small></a></td>
            {% endfor %}
                </tr></td>
		</tbody>
	  </table>
	  {% endif %}
	  </div>
      <div class="columns large-3">
        <h3>Nearby toponyms</h3>  
          <table>
            <tbody>
              {% if ten %}            
              <tr><td><strong>Within 10km</strong></td></tr>
              {% for t in ten %}
              <tr>
                <td><a href="/view/toponym_full/{{ t.id }}" class="nearby-record" data-id="{{ t.id }}">{{ t.name }} ({{ t.distance }}km) &raquo;</a></td>
              </tr>
              {% endfor %}
              {% endif %}
              <tr><td><strong>Within 50km</strong></td></tr>
              {% for h in fifty %}
              <tr>
                <td><a href="/view/toponym_full/{{ h.id }}" class="nearby-record" data-id="{{ h.id }}">{{  h.name }} ({{ h.distance }}km)   &raquo;</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
	    </div>
		</div>
	</div>                    
</div>                    

<script>

var map;
var marker;

var markers = [];

$('.nearby-record').on('mouseover',function(){
    m = getMarkerById( $(this).data('id') );
    m.setRadius( 8 );
})

$('.nearby-record').on('mouseout',function(){
    m = getMarkerById( $(this).data('id') );
    m.setRadius( 5 );
})

function getMarkerById(id){
    for (m in markers){
        if (markers[m].options.id == id ){
            return markers[m]
        }
    }
};



$(document).ready(function(){
    map = L.map('map',{scrollWheelZoom:false,zoomControl:false,minZoom:4,maxZoom:17,
    fullscreenControl: true
    }).setView([{{ toponym.point.y}},{{ toponym.point.x}}], 9);

    ancient_world = new L.TileLayer("http://{s}.tiles.mapbox.com/v3/isawnyu.map-knmctlkh/{z}/{x}/{y}.png",
  {attribution:'Map base by <a href="http://awmc.unc.edu/">AWMC</a>'}).addTo(map);

    marker = L.circleMarker([{{ toponym.point.y}},{{ toponym.point.x}}], {fillColor:'blue',stroke:'darkblue',radius:8,fillOpacity:0.8 } ).addTo(map);
    
    markers.push(marker);
    
    {% for t in ten %}
    try {
        t = L.circleMarker([{{ t.point.y }},{{ t.point.x }} ],{id:"{{ t.id }}",fillColor:'green',color:'darkgreen',radius:5}).addTo(map);
        markers.push(t);
    }
    catch (err) {
        //
    }
    {% endfor%}    
    {% for h in fifty %}
    try {
        h = L.circleMarker([{{ h.point.y }},{{ h.point.x }} ],{id:"{{ h.id }}",fillColor:'red',color:'red',radius:5}).addTo(map); 
        markers.push(h);        
    }
    catch (err) {
        //
    }    
    {% endfor%}
    
    
    
    
});

</script>

           {% if toponym.toponymimage_set %}
            {% for i in toponym.toponymimage_set.all %}
                <div class="reveal-modal" data-reveal id="image-{{ forloop.counter }}">{% thumbnail i.image "500" crop="center" as im %}<img src="{{ im.url }}" align="middle" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}<br>{{ i.description }}
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
            {% endfor %}
           {% endif %}



{% endblock %}
