# GN - SLA April 2021
# From 'pip freeze' on STG site
Django>=1.8,<1.9
Mezzanine<5
# Required by Mezzanine, we fix a version compatible with django 1.8
django-contrib-comments<1.9
django-haystack<2.8
# must match the version of ES engine
elasticsearch==1.6.0
psycopg2-binary
sorl-thumbnail<13
# https://django-modeltranslation.readthedocs.io/en/latest/installation.html
django-modeltranslation<0.11
# Required by filebrowser < Mezzanine
# future==0.14.3
geopy
# used by project directly, see urls.py, why?
django-grappelli<2.11
